input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;

}

.white-glyph{
    color:#fff;
}

.navbar-default{
	background-color: #008ae6;

}

.list{
	position:relative;
	top:40px;
	color: #008ae6;
}

.navbar-default .navbar-brand{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}

