<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../../../css/bootstrap.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>Title</title>
</head>
<body>
    <div class="page-list-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid row">
            <div class="col-xs-4 hidden-xs">
                <div class="navbar-header">
                    <p class="navbar-text">
            <a href="page-list.html" class="navbar-link">
             <span class="glyphicon glyphicon-chevron-left black-glyph"></span>
            </a>
            </p>
                    <a class="navbar-brand" href="page-list.html">
                        Pages
                    </a>
                    <p class="navbar-text plus-icon">
              <a href="page-new.html" class="navbar-link">
                <span class="glyphicon glyphicon-plus black-glyph">
                </span>
              </a>
            </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="navbar-header">
                  <a href="page-list.html" class="navbar-brand visible-xs">
          <span class="glyphicon glyphicon-chevron-left black-glyph">
          </span>
                    <a class="navbar-brand" href="page-edit.html">
                        Edit Page
                    </a>
                    <p class="navbar-text pull-right">
                <a href="page-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-ok black-glyph">
          </span>
                </a>
            </p>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="content">
    <div class="row container-fluid list">
        <div class="col-xs-4 hidden-xs border-right">
            <p class="pull-right"><a href="page-edit.html"><span class="glyphicon glyphicon-cog"></span></a></p>
            <p>Blog Post</p>
            <p class="pull-right"><a href="page-edit.html"><span class="glyphicon glyphicon-cog"></span></a></p>
            
            <p>Blogs</p>
            <p class="pull-right"><a href="page-edit.html"><span class="glyphicon glyphicon-cog"></span></a></p>
            <p>Home</p>
            <p class="pull-right"><a href="page-edit.html"><span class="glyphicon glyphicon-cog"></span></a></p>
            <p>About</p>
      <p class="pull-right"><a href="page-edit.html"><span class="glyphicon glyphicon-cog"></span></a></p>
      <p>Contact Us</p>
        </div>
        <div class="col-xs-12 col-sm-8">
           <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Page Name">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Page Title">
            </div>

      </form>
       <div class="form-group">
        <a class="btn btn-primary btn-block btn-danger"
           href="page-list.html">Delete</a>
      </div>
        </div>
    </div>
</div>
<div class="page-list-footer">
      <nav class="navbar navbar-default navbar-fixed-bottom">

     <div class="container-fluid">
        <div class="navbar-footer">
              <p class="navbar-text pull-right">  <a href="profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
               </p>

            </div>
     </div>
    
 </nav>
</div>

</body>
</html>