<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <div ng-show="model.alert" class="alert alert-danger">
        {{model.alert}}
    </div>
    <div class="container">
        <h1>Register</h1>
        <input ng-model="model.user.username" type="text"
               class="form-control"
               placeholder="username"/>
        <input ng-model="model.user.password" type="password"
               class="form-control"
               placeholder="password"/>
        <input ng-model="model.user.password" type="password"
               class="form-control"
               placeholder="verify password"/>
        <input ng-model="model.user.email" type="emal"
               class="form-control"
               placeholder="email"/>
        <input ng-model="model.user.firstName" type="text"
               class="form-control"
               placeholder="First Name"/>
        <input ng-model="model.user.lastName" type="text"
               class="form-control"
               placeholder="Last Name"/>
        <a class="btn btn-primary btn-block" ng-click="model.register(model.user)">Register</a>
        <a class="btn btn-danger  btn-block"
           href="#login">Cancel</a>
    </div>
</body>
</html>