

<div class="container page">
	
  <div class="row">
      <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input ng-model="model.widget.name" type="text" class="form-control" placeholder="text widget name" id="name" >
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <input ng-model="model.widget.text" type="text" class="form-control" placeholder="enter any text" id="text" >
            </div>
            <div class="form-group">
                <label for="rows">Rows</label>
                <input ng-model="model.widget.rows" type="number" class="form-control" placeholder="number of rows required" id="rows" >
            </div>
            <div class="form-group">
                <label for="placeholder">Placeholder</label>
                <input ng-model="model.widget.placeholder" class="form-control" placeholder="any placeholder for the input" id="placeholder">
            </div>
            <div class="form-group">
                <label for="formatted">Formatted</label>
                <input ng-model="model.widget.formatted" type="checkbox" class="form-control" id="formatted">
            </div>

        </form>
      <div class="form-group">
        <a class="btn btn-primary btn-block btn-danger"
           ng-click="model.deleteWidget(model.widget._id)">Delete</a>
      </div>
      </div>
    </div>
</div>

