

<div class="container page">
	
  <div class="row">
      <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Page Name">
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Page Text">
            </div>
            <div class="form-group">
                <label for="size">Title</label>
                <input ng-model="model.widget.size" type="text" class="form-control" id="size" placeholder="Page Size">
            </div>
        </form>
      <div class="form-group">
        <a class="btn btn-primary btn-block btn-danger"
           href="widget-list.html">Delete</a>
      </div>
      </div>
    </div>
</div>



