

<div class="container page">
	
  <div class="row">
      <div class="col-md-12">


          <div ng-model="model.widget.text"
               text-angular
               ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                  ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                  ['indent','outdent'],['html']]">
          </div>

       <!-- <form>
            
            

            <div class="form-group">
                <label for="text">Text</label>
                <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="html text">
            </div>
           

        </form>-->
      <div class="form-group">
        <a class="btn btn-primary btn-block btn-danger"
           ng-click="model.deleteWidget(model.widget._id)">Delete</a>
      </div>
      
      </div>
    </div>
</div>

